html, body { height: 100%; margin: 0; padding: 0; }

.container {
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 20% 20% 20% 20%;
}

.Header1 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 48px;
    text-align: left;
    color: white;
    background-color: black;
}
.Header2 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 48px;
    margin-left: 200px;
    color: white;
}
